/*COLOR VARIABLES*/
:root {
    /*--c-grey: #272727;*/
    --c-grey: #1a1818;
    --c-purple: #481f8a;
    --c-watercolor: #60d3cd;
    --c-shadow-skills: #292828;
}

/*Image size fixed*/
#logo-size {
    width: 100px;
    height: 100px;
}

#me-size img {
    object-fit: cover;
    /*pra nao perder definição*/
    height: 300px;
    width: 300px;
    border-radius: 25%;
    box-shadow: 5px 5px 300px var(--c-watercolor);
}

#me-rio img {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    margin-top: px;
}

/*GENERAL STYLE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*mantem todos os componentes na mesma borda da pagina*/
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: var(--c-grey);
    height: 100vh;
    /*ocupar todo o espaco da tela*/
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    /*Centralizar na tela*/
}

.flex {
    display: flex;
    /*Divide as divs em formato horizontal onde se aplica essa classe*/
}

h2.title {
    color: white;
    font-size: 40px;
    text-align: center;
}

/*HEADER STYLE*/
header {
    padding: 40px 4%;
    /*1: em cima e embaixo || 2: esquerda e direita, quando a tela diminuir fara com que nao cole no canto da tela*/
}

header>.interface {
    /*Indica que so ira fazer modificacoes na tag header onde tiver classe interface*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    /*Adiciona a propriedade de block level apra links || OBS: Tambem funciona para o botao pois possui link dentro*/
    transition: .2s;
    /*Define a velocidade com que o texto que tem a propriedade transform ira aumentar*/
    font-size: 20px;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
    /*Propriedade so funciona para elementos que sao block-level(possui propriedades como width, height e transform)*/
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .btn-header button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--c-watercolor);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-header button:hover {
    box-shadow: 0px 0px 8px var(--c-watercolor);
}

.btn-rede{
    display: none;
}

/*TOP OF THE SITE STYLE*/

section.top-of-site {
    padding: 40px 4%;
}

section.top-of-site .flex {
    /*Alinha os itens que eu tiver na section com a classe topo do site e .flex*/
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.top-of-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 50px;
}

.top-of-site h1 span {
    color: var(--c-watercolor);
}

.top-of-site .txt-top-site p {
    color: #fff;
    margin: 40px 0;
}

main .btn-contact button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--c-watercolor);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

main a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    /*Adiciona a propriedade de block level apra links || OBS: Tambem funciona para o botao pois possui link dentro*/
    transition: .2s;
    /*Define a velocidade com que o texto que tem a propriedade transform ira aumentar*/
}

main a:hover {
    color: #fff;
    transform: scale(1.05);
    /*Propriedade so funciona para elementos que sao block-level(possui propriedades como width, height e transform)*/
}

main .btn-contact button:hover {
    box-shadow: 0px 0px 8px var(--c-watercolor);
}

.top-of-site .img-top-site {
    position: relative;
    animation: toFloat 2s ease-in-out infinite alternate;
    /*Propriedades: 1: tempo de duração | 2: define a suavidade e velocidade | 3: ficar infinitamente funcionando | 4: faz com que quando chegue até 100 volte para o 0 suavemente também*/
}

@keyframes toFloat {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/*SKILLS STYLE*/

section.skills {
    padding: 40px 4%;
}

section.skills .skills-flex {
    gap: 90px;
}

.skills .skills-box {
    color: white;
    border: 2px solid var(--c-shadow-skills);
    border-radius: 20px;
    margin-top: 95px;
    padding: 5px 15px;
    font-size: 70px;
    color: var(--c-watercolor);
    transition: .2s;
}

.skills-flex {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.skills .skills-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 30px var(--c-shadow-skills);
    cursor: pointer;
}

/*ABOUT STYLE*/

section.about {
    padding: 40px 4%;
}

.about .txt-about {
    color: #fff;
}

section.about .flex {
    align-items: center;
    gap: 60px;
}

.about .txt-about h2 {
    font-size: 40px;
    line-height: 45px;
}

.about .txt-about h2 span {
    color: var(--c-watercolor);
}

/*PORTFOLIO STYLE*/

section.portfolio {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff0e;

}

section.portfolio .flex {
    justify-content: space-around;
}

section.portfolio .flex .img-port {
    margin-top: 60px;
}

.img-port {
    width: 330px;
    height: 460px;
    background-size: cover;
    /*Cobrir 100% da imagem passada ajustada a div.*/
    background-position: 0% 100%;
    transition: 5s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    /*Combinando o position relative faz com que a div filha que tiver o position absolute so trabalhe dentro dela*/
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000059;
    border-radius: 40px;
    display: flex;
    /*Combinando com as 2 propriedades abaixo irá colocar o texto no meio*/
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.overlay:hover {
    opacity: 1;
}

/*FORM STYLE*/

section.form {
    padding: 60px 4%;
}

form {
    max-width: 500px;
    /*Setando a largura máxima da largura do meu formulário para 500px*/
    margin: 0 auto;
    /*Centralizando o meu formulário no centro da tela*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}

.form .title span {
    color: var(--c-watercolor);
}

form input,
form textarea {
    width: 100%;
    /*Faz com que todos os inputs ocupem uma largura de 100% dentro do meu formulário.*/
    background-color: rgba(64, 62, 62, 0.321);
    border: 0;
    outline: 0;
    /*Linha que fica quando clica no input*/
    padding: 20px 15px;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    /*Faz com que o textarea não seja manipulado pelo usuário*/
    height: 200px;
}

form .btn-send {
    margin-top: 20px;
    text-align: center;
}

form .btn-send input[type=submit] {
    /*Definir o tipo do input*/
    width: 120px;
    background-color: var(--c-watercolor);
    color: var(--c-grey);
    cursor: pointer;
    transition: .2s;
}

form .btn-send input[type=submit]:hover {
    box-shadow: 0px 0px 8px var(--c-watercolor);
    transform: scale(1.05);
}

/*RESPONSIVIDADE */

@media screen and (max-width: 903px) {

    /*GENERAL CLASSES*/
    .top-of-site .flex {
        flex-direction: column-reverse;
    }

    .flex {
        flex-direction: column;
    }

    /*HEADER*/
    .menu-desktop,
    .btn-header {
        display: none;
    }

    /*TOP OF THE SITE*/

    section.top-of-site .flex {
        gap: 55px;
    }

    #me-size img {
        height: 240px;
        width: 240px;
        box-shadow: 5px 5px 50px var(--c-watercolor);
        margin-top: -30px;
    }

    section.top-of-site {
        padding: 20px 8%;
    }

    .top-of-site h1 {
        font-size: 32px;
    }

    .btn-contact {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    section.about {
        padding: 20px 8%;
        margin-bottom: 40px;
    }

    #me-rio img {
        width: 100%;
        height: 100%;
    }


}

@media screen and (max-width: 1289px) {
    .skills-flex {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    h2.title {
        margin-bottom: 40px;
    }

    .skills .skills-box {
        color: white;
        border: 2px solid var(--c-shadow-skills);
        border-radius: 20px;
        margin-top: 10px;
        padding: 5px 15px;
        font-size: 70px;
        color: var(--c-watercolor);
        transition: .2s;
    }

    section.portfolio .flex {
        gap: 40px;
        justify-content: center;
        align-items: center;
    }

    .about .txt-about h2{
        text-align: center;
    }
}